html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, b, ul, ol, li, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  position: relative;
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box; 
  text-rendering: optimizeLegibility;
}

body {
  width:  100%;
  height: 100%;
  margin: 0px;
  font: normal 1em / 1.33em 'Source Sans Pro', sans-serif;
}

.clear {width: 100%;clear: both;float: none;display: block;}
.right {float: right;}

header, footer {
  padding: 2em 4em 0;
}

section {padding: 2em 3em 0}

nav {float: right;}

nav a {margin-left: 12px;margin-top:8px;display: inline-block;color: blue;text-decoration: none;line-height: 1.33em;color: #000;border-bottom: 1px solid #000;}


p {max-width: 30em;}

h1, h2, h3, h4, h5 {
  font-weight: bold;
}
h1 {font-size: 1.5em;line-height: 1.33em;float:left;}
h1 span {font-weight: normal;font-size: 0.88em;color: #666;margin-left: 2em;}
h3 {font-size: 1em;line-height: 1.33em;margin-bottom: 1.33em}

.icon {background: url('') no-repeat center center;background-size:100%;width: 6em;height: 6em;margin: 0 1em 0 0;display: inline-block;}

.iconContainer .icon {width: 20em;height: 20em;}

input {
  background: url('./search.svg') no-repeat 10px center;
  background-size: 1em;
  padding: 0.5em 0.5em 0.5em 2.25em;
  line-height: 1.33em;
  min-width: 400px;
  border-radius: 3em;
  border: 1px solid #aaa;
  font-size: 1em;
  font-family: inherit;
}

input:focus {outline: none}


footer {position: fixed;bottom: 2em;left: 0;right:0;color: #aaa;font-size: 0.88em;}
footer a {text-decoration: none;color: #aaa;}
footer a:hover {color: orange}
footer a:hover em {border-bottom-color: rgba(255, 184, 0, 0.47)}
footer a em {border-bottom: 2px solid #ddd;font-style: normal}
