html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, b, ul, ol, li, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

body {
  width:  100%;
  height: 100%;
  padding: 1em 3em;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, 'Sans Serif', Icons /*!System*/;
  font-size: 1em;
  line-height: 1.3333;
}

blockquote {
  padding: 0;
  margin: 0;
  width: 25em;
  font-size:1.58em;
  font-family: 'Minion Pro', serif;
  text-align: justify;
  text-indent: 1.5em;
}

blockquote.ref {    margin: 0 0em 0 1.5em;
    text-indent: 0;
    padding: 0 12em 0 0;
    max-width: 18em;
    text-align: left;
  }

blockquote .author {font-style: normal;letter-spacing:0.05em;font-variant: small-caps;text-transform: lowercase;}
blockquote .date {
  font-style: normal;
  font-variant-numeric: oldstyle-nums;
  -moz-font-feature-settings: "onum";
  -webkit-font-feature-settings: "onum";
  font-feature-settings: "onum";
}
#iconNav {font-weight: bold;font-size:1.33333em;line-height: 1.6666;}
#iconNav a {display: block;position: relative;text-decoration: none;color: black;padding-left: 1em}
#iconNav .icon {position: absolute;font-size:0.666em;left: 0;top:0.5em;}

#iconNav a:nth-child(2) {color:#0161c8;}
#iconNav a:nth-child(3) {color:#02b8e0;}
#iconNav a:nth-child(4) {color:#00b161;}
#iconNav a:nth-child(5) {color:#e43787;}
#iconNav a:nth-child(6) {color:#f8600d;}
#iconNav a:nth-child(7) {color:#fcbd0d;}

hr {border: none;border-bottom: 1px solid #000;margin: 1em 0}

h2, h1 {font-size: 1em}
h1 {font-weight: 400}
h2 {font-weight: bold;font-size:1.33333em;}

h2 a {color: black;text-decoration: none;}
a.link {    color: rgba(0, 0, 0, 0.85);
    padding-bottom: 0;
    border-bottom: .075em solid rgba(127, 127, 127, 0.2);
    text-decoration: none;
    font-weight: bold;}

.column {width:23%;margin-right: 2%;display: block;float: left;}
.column:nth-child(4n) {width:23%;margin-right: 0}

.column.two {width: 45%;margin-right: 4%}
.column.three {width: 75%;margin-right: 0}

.clear {width: 100%;clear: both;float: none;display: block;}
.right {float: right;}

nav {float: right;}

nav a {margin-left: 24px;margin-top:8px;border-bottom: 2px solid rgba(0,0,0,0);display: inline-block;font-weight:bold;color: blue;text-decoration: none;line-height: 1.33em;color: #000;}
nav a:hover {border-bottom: 2px solid #000;}

nav a em {font-style: normal;font-weight: normal;display: block;}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: black;
}
::-moz-placeholder { /* Firefox 19+ */
  color: black;
}
:-ms-input-placeholder { /* IE 10+ */
  color: black;
}
:-moz-placeholder { /* Firefox 18- */
  color: black;
}

input {
  background: url('data:image/svg+xml;base64,PHN2ZyBpZD0iaWNvbi1zZWFyY2giIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgOCA4IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGlkPSJzZWFyY2giIGQ9Ik03Ljk5LDYuOTI4TDUuODQ3LDQuNzg0YzAuMjg5LTAuNDc2LDAuNDU4LTEuMDMzLDAuNDU4LTEuNjNDNi4zMDUsMS40MTIsNC44OTUsMCwzLjE1MiwwDQoJQzEuNDExLDAsMCwxLjQxMiwwLDMuMTU0YzAsMS43NDEsMS40MTIsMy4xNTEsMy4xNTMsMy4xNTFjMC41OTcsMCwxLjE1NC0wLjE2OSwxLjYzLTAuNDU4bDIuMTQ1LDIuMTQ2TDcuOTksNi45Mjh6IE0xLjIwMywzLjE1NA0KCWMwLjAwMi0xLjA3NywwLjg3NC0xLjk0OSwxLjk1MS0xLjk1MWMxLjA3NiwwLjAwMiwxLjk0OCwwLjg3NCwxLjk0OSwxLjk1MUM1LjEwMSw0LjIzLDQuMjI5LDUuMTAzLDMuMTUzLDUuMTAzDQoJQzIuMDc1LDUuMTAzLDEuMjA1LDQuMjMsMS4yMDMsMy4xNTR6Ii8+DQo8L3N2Zz4=') no-repeat 0.155em center / 0.9em;
  padding: 0 0 0 1.5em;
    width: 97%;
    font-weight: bold;
    font-size: 1.33333em;
    border: none;
    font-family: inherit;
    margin: 0em 0 0;
}

.icon-down-arrow {
  background: url('data:image/svg+xml;base64,PHN2ZyBpZD0iaWNvbi1kb3duLWFycm93IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDggOCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8cmVjdCB4PSIyLjcwOSIgeT0iNC44NTUiIHRyYW5zZm9ybT0ibWF0cml4KDAuNzA3MSAtMC43MDcyIDAuNzA3MiAwLjcwNzEgLTIuMzg0MSA1LjQyMDIpIiB3aWR0aD0iNS4yODMiIGhlaWdodD0iMS40NjYiLz4NCjxyZWN0IHg9IjMuMTY0IiB5PSIwLjAyMSIgd2lkdGg9IjEuNjgzIiBoZWlnaHQ9IjYuMzc1Ii8+DQo8cmVjdCB4PSIwLjAxNSIgeT0iNC44NjEiIHRyYW5zZm9ybT0ibWF0cml4KC0wLjcwNzMgLTAuNzA2OSAwLjcwNjkgLTAuNzA3MyAwLjU4MTUgMTEuNDI4MykiIHdpZHRoPSI1LjI4NCIgaGVpZ2h0PSIxLjQ2NSIvPg0KPC9zdmc+') no-repeat center center / 100%;
  vertical-align: middle;
  position: relative;
  top: -1px;
  margin-left: 0.12em;
  width: 16px;height: 16px;display: inline-block;
}

.icon-right-arrow {
  background: url('data:image/svg+xml;base64,PHN2ZyBpZD0iaWNvbi1yaWdodC1hcnJvdyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCA4IDgiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHJlY3QgeD0iMi45NSIgeT0iMS45MjEiIHRyYW5zZm9ybT0ibWF0cml4KC0wLjcwNzEgLTAuNzA3MSAwLjcwNzEgLTAuNzA3MSA3LjY2ODkgOC40ODQyKSIgd2lkdGg9IjUuMjgzIiBoZWlnaHQ9IjEuNDY2Ii8+DQo8cmVjdCB4PSIwLjAyNCIgeT0iMy4xNTciIHdpZHRoPSI2LjM3NSIgaGVpZ2h0PSIxLjY4MyIvPg0KPHJlY3QgeD0iMi45NTYiIHk9IjQuNjE1IiB0cmFuc2Zvcm09Im1hdHJpeCgtMC43MDY5IDAuNzA3MyAtMC43MDczIC0wLjcwNjkgMTMuMzM2OSA1LjE2ODQpIiB3aWR0aD0iNS4yODQiIGhlaWdodD0iMS40NjUiLz4NCjwvc3ZnPg==') no-repeat center center / 100%;
  vertical-align: middle;
  position: relative;
  top: -1px;
  margin-left: 0.12em;
  width: 14px;height: 14px;display: inline-block;
}

input:focus {outline: none}

p {max-width: 30em;}

h3 {font-size: 1em;line-height: 1.33em;margin-bottom: 1.33em}

.iconContainer {
  border-top: 1px solid #000;}

.iconContainer h1 {line-height: 1em;margin-bottom: 1em}
.iconContainer h1 .icon {display:none;margin: 0 0.33em 0 0;vertical-align: middle;width: 58px}

.icon {width: 1em;margin-right: 0.333em;display: inline-block;}

.iconContainer {display: block;margin-top:2em;text-align: center;}
.iconContainer .icon {width: 512px;margin-top:4em;}
.iconContainer .icon.big {margin-left: 0;margin-right: 2em;}
.iconContainer h1 {font-size: 5em;float: none;width: 100%;margin: 0.33em 0 1em}

.icon.size-256 {width: 256px}
.icon.size-128 {width: 128px}
.icon.size-64 {width: 64px}
.icon.size-32 {width: 32px}
.icon.size-16 {width: 16px}

#downloadButtons {display: block;margin-bottom: 2em}

.small {margin-bottom: 3em;color: #777;font-size: 0.88em;}
.small a {color: #777}

.small .icon {fill: #888;width: 16px;margin: 0;vertical-align: middle;}
.iconLink:hover {
  background: #eee
}

h3 {color: #000;font-weight: normal;}
.iconLink:hover .label {
  color: #000;
}

.iconInfo {max-width: 430px;display: block;float:left;padding: 0;text-align: left;}

.altSizes {width: 256px;margin:2em 3em 0 0;float:right;text-align: center;padding: 0}

.altSizes .icon {  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
padding: 1em 0; margin: 0 auto;text-align: center;
display: block;}

.icon.black {background: #000;fill: #fff;padding: 1.5em;border-radius: 50%}

.altSizes .icon em {
  font-style: normal;
  position: absolute;top: 50%;margin-top: -0.88em;background:#fff;left:-4.33em;width:3em;text-align: right;font-size: 0.88em;color: #aaa;letter-spacing: 0.1em

}

textarea{width: 100%;display: block;margin: 0.33em 0 0;height: 3em}

#imageCan {display: none;}
.iconLink {
  text-decoration: none;
  margin-bottom: 1em;
  width:33%;
  margin: 0;
  padding: 0;
  line-height: 1.666;
  display: block;
  font-size:2em;
  font-weight: 700;
float: left;
  border-radius: 0.33em
}

.button {
display: inline-block;
text-decoration: none;
color: #000;
margin-bottom: 0.66em;
border-radius: 4em;
margin-right: 1em;
border:2px solid #000;
font-weight: bold;
font-size: 1.1566em;
padding: 0.75em 1em 0.7em;
}

.button:hover {text-decoration: underline;}

.button.primary {background: #f9951d;}

.icon + .label {color: #000;}


footer {position: fixed;bottom: 0;left: 2em;right:2em;padding: 0 0em 2em;font-weight: 400;width:20%;}
footer a {color: black;font-weight: bold;text-decoration: none;}